<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1 align="center" style="color:skyblue">Details</h1>
<center>
  <div class="container mt-3">
  <table class="table table-bordered">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Continent</th>
      <th>Region</th>
      <th>SurfaceArea</th>
      <th>IndepYear</th>
      <th>Population</th>
      <th>LifeExpectancy</th>
      <th>Gnp</th>
      <th>Gnpold</th>
      <th>LocalName</th>
      <th>GovernmentForm</th>
      <th>HeadofState</th>
      <th>Capital</th>
      <th>Code2</th>
    </tr>
    {% for i in value %}
    <tr>
      <td>{{i.code}}</td>
      <td>{{i.name}}</td>
      <td>{{i.continent}}</td>
      <td>{{i.region}}</td>
      <td>{{i.surfacearea}}</td>
      <td>{{i.indepyear}}</td>
      <td>{{i.population}}</td>
      <td>{{i.lifeexpectanct}}</td>
      <td>{{i.gnp}}</td>
      <td>{{i.gnpold}}</td>
      <td>{{i.localname}}</td>
      <td>{{i.governmentform}}</td>
      <td>{{i.headofstate}}</td>
      <td>{{i.capital}}</td>
      <td>{{i.code2}}</td>
    </tr>
    {% endfor %}
  </table>
    </div>
  <br>
  <br>
  {% if a %}
  <form method="post">
    <div class="container mt-3">
    <table class="table table-bordered">
      <tr>
        <td>
          <label>Code</label>
        </td>
        <td>
          {{a.code}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Name</label>
        </td>
        <td>
          {{a.name}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Continent</label>
        </td>
        <td>
          {{a.continent}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Region</label>
        </td>
        <td>
          {{a.region}}
        </td>
      </tr>
      <tr>
        <td>
          <label>SurfaceArea</label>
        </td>
        <td>
          {{a.surfacearea}}
        </td>
      </tr>
      <tr>
        <td>
          <label>IndepYear</label>
        </td>
        <td>
          {{a.indepyear}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Population</label>
        </td>
        <td>
          {{a.population}}
        </td>
      </tr>
      <tr>
        <td>
          <label>LifeExpectancy</label>
        </td>
        <td>
          {{a.lifeexpectancy}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Gnp</label>
        </td>
        <td>
          {{a.gnp}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Gnpold</label>
        </td>
        <td>
          {{a.gnpold}}
        </td>
      </tr>
      <tr>
        <td>
          <label>LocalName</label>
        </td>
        <td>
          {{a.localname}}
        </td>
      </tr>
      <tr>
        <td>
          <label>GovernmentForm</label>
        </td>
        <td>
          {{a.governmentform}}
        </td>
      </tr>
      <tr>
        <td>
          <label>HeadofState</label>
        </td>
        <td>
          {{a.headofstate}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Capital</label>
        </td>
        <td>
          {{a.capital}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Code2</label>
        </td>
        <td>
          {{a.code2}}
        </td>
      </tr>
    </table>
    </div>
  </form>
  {% endif %}
</center>
</body>
</html>